<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
    </config>
    <packageSources>

      <clear />
<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
<add key="ABIDevOpsNuget" value="https://ab-inbev.pkgs.visualstudio.com/LAS_Infra_DevOpsNuget/_packaging/ABIDevOpsNuget%40Release/nuget/v3/index.json" />

    </packageSources>
  <packageSourceCredentials>
    <ABIDevOpsNuget>
      <add key="Username" value="andrkane@quilmes.com.ar" />      
      <add key="ClearTextPassword" value="p7377kwopyrv3txtbgtnbqnpsb6cezdenyy7nxmofytikdpcsmqa" />
    </ABIDevOpsNuget>
  </packageSourceCredentials>
</configuration>
